@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {          /* Configuraçao para toda a pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{    /*Configuração do Body*/
    background: url("../img/fotoPerfil.jpg") right no-repeat fixed; 
    background-color: #050505;
    background-size: 300px;
  }

nav{      /* Inicio da configuração da NAV*/
    background-color: #000000;
    flex-wrap: wrap; 
    flex-direction: row;
}

nav#navBar{
    position: fixed;
    width: 100%;
    padding: 1rem;
}

nav#navBar ul{
    display: flex;
    list-style: none;
    margin: 0 3rem;
    justify-content: space-between;
}

nav#navBar ul a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition-duration: 0.4s;
}

nav#navBar ul a:hover{
    color: #03bcf5;
}

header#cabecalho{        /* Inicio das configurações do HEADER*/
    width: 100%;
    padding: 9rem 0 7rem 5rem ;
}

header p.linha {
    color: #03bcf5;
    font-weight: bold;
}

header h1{
    color: aliceblue;
    margin-top: 2rem;
    font-weight: 800;
}

header h2#area{
    color: #03bcf5;
}

button{     /* Inicio da configurações dos BOTTON*/
    margin: 2rem .5rem;
    background-color: #000000;
    border-color: #03bcf5;
    padding: .6rem 1rem .6rem 1rem;
    flex-wrap: wrap; 
    flex-direction: row;
    transition-duration: 0.4s;
}

button a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

button:hover{
    box-shadow: 0 0 1em #ffffff;
}

section#cards{   /* Inicio  da configurações do CARD DE DADOS PESSOAIS*/
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: row;
}

section#cards div.card {
    background-color: rgb(32, 31, 31);
    margin: 1rem;
    height: 300px;
    width: 300px;
    padding: 1.6rem;
    color: #ffffff;
}

section#cards div.card h3 {
    color: #03bcf5;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
}

section#cards div.card h4 {
    color: #03bcf5;
    font-size: 17px;
    margin-top: 2px;
}

section#cards div.card p#meutexto {
    font-size: 12px;
}

div#ferramentas img.logs{
    width: 7.5vh;
}

section#cards div#ferramentas {
    box-shadow: 2.5rem 2.5rem #03bcf5;
}

section#projetos{  /* Inicio  das configurações da section dos PROJETOS*/
    display: flex;
    width: 100%;
    height: 30rem;
    padding-top: 3rem;
    background-color: #131313;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
}

section#projetos h2{
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 100%;
}

section#projetos h3{
    color: white;
}

section#projetos div.card2 {
    display: flex;
    margin: 10px;
    background-color: #201f1f;
    padding: 1rem 3rem;
    align-items: center;
}

img.imagem{
    height: 15px;
    width: 15px;
    margin-left: 3rem;
    transition-duration: 0.4s;
}

img.imagem:hover{
    box-shadow: 0 0 1em #03bcf5;
}

footer {    /* Inicio  das configurções do FOOTER*/
    background-color: #222121;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    transition-duration: 0.4s;
}

footer a:hover {
    color: #03bcf5;
}
           /* Media screen para responsividade das imagens  */
@media screen and (min-width: 50px) and (max-width: 1200px) {
    *{
        display: inline-blok;
    }
}
/* ok */